body {
    background-color: green;
}
h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h4 {
    color: green;
    margin-bottom: 1.5rem;
}
.item_card {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}
div.mb-3 {
    height: 250px;
    overflow: hidden ;
    
}
footer {
    height: 70px;
    background-color: white;
}
footer span {
    color: green;
    display: block;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    letter-spacing: 5px;
}
div.mb-3 img {
    transition: all 0.3s ease;
}
div.col-lg-3 {
    transition: all 0.2s linear;
}
div.col-lg-3:hover {
    transform: translateY(-5px);
}
div.col-lg-3:hover div.mb-3 img {
    transform: scale(1.15);
}